h2{  
    font-size: calc(2.7 + 240px);
    margin-bottom: 16px;
}


.img-card{
    border-radius: 12px;
    padding: 25px 12px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


p{
    margin: 0;
}

.photo img{
    width: calc(20.2vw + 248px);
}

.photo{
    display: flex;
    gap: 16px;
    align-items:center;
}




/* ------------------------ */






.paragrap{
    font-size: calc(2.7vw + 24px);
    margin-bottom: calc(5.1vw + 14.9px) ;
}


.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    

}

.right{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}


.number{
    font-size: calc(2.7vw + 24px);
}

.text{
    font-size: calc(0.6vw + 13.9px);
    margin-bottom: calc(1.1vw + 25.8px);
}

.left p{
    font-size: calc(0.6vw + 19.2px);
    width: calc(10.8vw + 287px) ;
    margin-right: 90px;

}

.left img{
    width: 110px;
    margin-bottom: calc(2.2vw + 11.7px);
}


@media(max-width:500px){
    .container{
        flex-wrap: wrap;
    }

    .left p{
        margin-bottom: 40px;
    }
}